<a href="https://colab.research.google.com/github/sjua0613/hi/blob/main/python01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

## 파이썬
* 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 **플랫폼 독립**적인 **인터프리터** 언어 
  + 변수를 선언할 때 타입을 지정하지 않음
  + 값을 할당하면 그때 동적으로 타입이 정해짐
  + 타입이 다를 경우 형 변환을 해줘야 연산에 사용할 수 있음
  
### 파이썬 기본 문법
* 주석 : 프로그램 실행과 관계 없이 코드에 대한 설명을 작성
  + 한줄 주석 : # 
  + 여러줄 주석 : 작은따옴표 세개('''주석내용''')

* 들여쓰기(indent)
  + 코드 블럭을 구성하기 위해서는 반드시 들여쓰기 해야함

* 행분리 : 역슬래쉬(\)
  + 하나의 명령을 여러 줄에 수행

* 행결합 : 세미콜론(;)
  + 한 줄에 여러 명령 수행

In [ ]:
'''
데이터분석으로 배우는 인공지능
작성자 : 김경민
'''
print('신주아')

신주아

## 변수(Variable)
* 필요한 데이터를 저장해 놓는 기억 공간의 별칭
* 변수 명 규칙
  + 영문 문자와 숫자 사용 : 대소문자 구분
  + 문자나 _(밑줄 문자)로 시작 : 숫자부터 시작하면 안 됨
  + 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없음
  + python 키워드(if, for, while, and, or 등)는 사용할 수 없음

In [ ]:
x =  '10'

In [ ]:
x

'10'


### 파이썬 데이터 타입(Data Type)
* 정수 : 정수 자료형(int)
* 실수 : 부동소수점 자료형(float)
* 참거짓 : 참(True)과 거짓(False)를 나타내는 부울 자료형(bool)
* 문자열 : 문자열 자료형(str), 작은따옴표('')나 큰따옴표("")로 묶음


### 데이터 타입 확인 
* type() 함수

In [ ]:
x = 10
y = 20.5
b = True 
s = 'Hello Python!'

In [ ]:
print(x, type(x))
print(y, type(y))
print(b, type(b))
print(s, type(s))

10 <class 'int'>
20.5 <class 'float'>
True <class 'bool'>
Hello Python! <class 'str'>



---

**생각해보기)**


---
10과 '10'은 같은 자료형일까?

## 형변환(type Casting)
* int() : 실수나 문자열을 정수로 변환
* float() : 정수나 문자열을 실수로 변환
* str() : 정수나 실수를 문자열로 변환

In [ ]:
x = '10' 
print(x, type(x))

x = int(x)
print(x, type(x))

10 <class 'str'>
10 <class 'int'>

In [ ]:
x = 10
y = '20'

y = int(y)
print(x + y)

30

## 파이썬 기본 입출력

### 표준 입력 : input() 
* 표준 입력 장치인 키보드로 부터 입력
* 입력된 값은 문자열
```python
input() # 표준 입력장치로 부터 문자열을 입력
input('문자열') # 문자열을 출력하고 표준 입력장치로 부터 문자열 입력
```

In [ ]:
x = input()

15\

In [ ]:
x = input()
y = input()

print(int(x)+int(y))

1
5
6

In [ ]:
x = int(input())
y = int(input())

print(x+y)

1
5
6

---

**생각해보기)**


---
정수나 실수 입력은 어떻게 받을까?

### 숫자 입력

In [ ]:
#정수 입력
 

#실수 입력


### 표준 출력 : print() 
* 표준 출력 장치인 모니터로 출력
```python
print(값1, 값2, ....) # 문자열을 출력하고 표준 입력장치로 부터 문자열 입력
```

* f-string
  + Python 신규 버전(3.6 이상) 부터 제공되는 기능
  + f'문자열' : f로 시작하는 문자열
    + 문자열 내부에 변수의 내용을 사용할 경우 {변수}
    + 문자열 내부에 실수인 변수를 소수점 처리할 경우 {실수변수:.소수점자리f}

In [ ]:
#소수정 처리 
x = 3.14159

print(f'x={x}')

x=3.14159

In [ ]:
print(f'x={x}:{2f}')

SyntaxError: ignored

In [ ]:
s = f'x=(x:2f)'

## 연산자
자료를 처리하기 위한 수식들을 결합하여 연산 동작을 수행하도록 하는 기호

+ 산술연산자
  - 수학적 계산을 수행할 때 사용하는 연산자
  - 사칙연산자(+, -, \*, /), 제곱(\**), 나머지(%), 나누기 결과 정수(//)

+ 비교연산자(관계연산자)
  - 비교할 때 사용하는 연산자
  - 등호(==), 같지 않음(!=), 부등호(<, >, <=, >=)

+ 논리연산자
  - 주어진 논리식을 판단하여, 참(true)과 거짓(false)을 결정하는 연산자
  - and(논리곱), or(논리합), not

+ 할당연산자
  - 변수에 값을 할당하기 위하여 사용하는 연산자

In [ ]:
#두 정수를 입력받아서 산술연산
x = 3**2
print(x)

9

In [ ]:
x = 10%3
print(x)

1

## 조건문
프로그램의 실행 흐름을 바꾸고자 할 때 사용하는 제어문
 - 사용자가 지정한 조건에 따라 실행할 문장을 결정함
```python
if (조건식) : 
  명령문
elif (조건식) :
  명령문
else :
  명령문
```

- if 조건문 뒤에는 반드시 콜론(:)
- 바로 아래 문장부터 **if문에 속하는 모든 문장에 들여쓰기(indentation)**를 해야 함
- 파이썬에는 다른 언어에 있는 switch 문이 존재하지 않음 : if...elif...elif... 문으로 수행
- pass  : def 문이나 if 문처럼 코드 블록을 본문으로 갖는 표현에서 본문을 비워 둘 때 사용

In [ ]:
# 정수를 입력받아서 짝수/홀수 구분
 x = input()

 x % 2 == 0

In [ ]:
x = int(input())

if x % 2 == 0 :
  print(f'{x}는 짝수')
else :
  print(f'{x}는 홀수')

5
5는 홀수

In [ ]:
# 성적을 입력받아서 70이상이면 Pass, 70점미만 60점이상 재수강, 60점미만 Fail
x = float(input())

if x >= 70 :
  print('pass')

else :
  if x >= 60 :
    print('재수강')
  else :
    print('fail')

80
pass

In [ ]:
x = float(input())

if x >= 70 : print(x, end=':'); print('pass')
elif x >= 60 : print(x, end=':'); print('재수강')
else : print(x);print(x, end=':'); print('fail')

60
60.0:재수강

## 반복문
+ **for문** : 컬렉션으로부터 하나씩 요소(element)를 가져와, 루프 내의 문장들을 실행
```python
for 변수 in 컬렉션:
    명령문
    명령문
    ...
```

 + **range() 함수**
```python
range(시작숫자, 종료숫자, step)
```
    + 결과는 시작숫자부터 종료숫자 바로 앞 숫자까지 컬렉션 생성
    + 값을 확인하기 위해서는 순서가 있는 리스트나 튜플 컬렉션으로 변환해야 함
    + 시작숫자를 생략하면 0부터 생성
    + step을 생략하면 1씩 증가

  + **in** 연산자, **not in** 연산자
    + 멤버십 연산자로 컬렉션에 속한 멤버를 확인하기 위한 연산자

+ **while문** : while 키워드 다음의 조건식이 참일 경우 계속 while 안의 블럭을 실행
```python
while 조건식:
    명령문
    명령문
    ...
```
+ **break 문**
  + 반복문 안에서 루프를 빠져나오기 위해 을 사용

+ **continue문**
  + 루프 블럭의 나머지 문장들을 실행하지 않고 다음 루프로 직접 돌아가게 함

In [ ]:
# 1에서 50까지 숫자 중의 3의 배수이면서 4의 배수인 수를 출력
# for문으로 

x = range(50)
print(x, type(x))

range(0, 50) <class 'range'>

In [ ]:
#for 은 맞으면 계속
for n in range(1, 10) :
  print(f'n={n}')

n=1
n=2
n=3
n=4
n=5
n=6
n=7
n=8
n=9

In [ ]:
for n in range(10) :
  print(f'n={n}')

n=0
n=1
n=2
n=3
n=4
n=5
n=6
n=7
n=8
n=9

In [ ]:
for n in range(1,11,2) :
  print(f'n={n}')

n=1
n=3
n=5
n=7
n=9

In [ ]:
for n in range(1,11) :
  if n%2 == 0 : continue 
  #break - 1만 출력
  print(f'n={n}')

n=1
n=3
n=5
n=7
n=9

In [ ]:
# 1에서 n까지 숫자 중의 3의 배수이면서 4의 배수인 수를 출력
# while문으로 (만족하는 동안에)

n = int(input())
while n < 10 :
  n = n + 1
  
  print(f'n={n}')

5
n=6
n=7
n=8
n=9
n=10

In [ ]:
n = int(input())

for i in range(1, n+1) :
  print(i)

5
1
2
3
4
5

In [ ]:
# 1에서 n까지 숫자 중의 3의 배수이면서 4의 배수인 수를 출력
# while문으로 (만족하는 동안에)

n = int(input())

for i in range(1, n+1) :
  if i % 3 == 0 and i % 4 == 0:
    print(i, end=' ')

50
12 24 36 48

---
## **해결문제**


---
n이하의 피보나치 수열을 출력하시오.
 
 예) 1000이하
 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [ ]:
n = int(input())
a, b = 0, 1
while a < n :
  print(a, end = ' ')
  a, b = b, a+b

50
0 1 1 2 3 5 8 13 21 34



---
## **해결문제**


---
 밑변과 높이를 입력받아 삼각형의 면적을 구하시오.
 * 밑변과 높이는 정수형으로 입력

In [ ]:
x = int(input())
y = int(input())
z = x * y
u = z/2

print(u)

10
5
25.0

In [ ]:
x,y = input('밑변과 높이를 입력하세요: ').split()
x = int(x)
y = int(y)
z = float(x*y/2)
print(z)

밑변과 높이를 입력하세요: 4 2
4.0

In [ ]:
s = int(input())
h = int(input())
side = s*h/2
print(f'밑변이 {s}이고 높이가 {h}인 삼각형의 면적은 {side}입니다.')

6
2
밑변이 6이고 높이가 2인 삼각형의 면적은 6.0입니다.

---

**생각해보기)**


---
정수형으로 입력되는 밑변과 높이를 공백을 기준으로 한 줄로 입력받는다면?
* 예) 20 10